<head>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<a href="https://www.flaticon.com/free-icons/hashtag" title="hashtag icons">Hashtag icons created by Freepik - Flaticon</a>
<body>
    <section>
        <section class="sec-1">
            <div class="details">
                <h1>Raj Rami</h1>
                <p>Course: Diploma In Computer Programming</p>
                <p>Instituition: Georgian College</p>
                <p>GPA: 3.43/4.00</p>
            </div>
            <div>
                <p>I am a student with excellent interpersonal and communication abilities. I have a solid understanding of SDLC, various IDEs, standard coding methods, relational databases, and version control. I've gained knowledge about using ASP.NET MVC and the.NET framework to create a reliable and scalable website. Practical knowledge of creating a JavaFX GUI where a user may retrieve data from an API and a MySQL database. In my final semester, I'm learning how to design MEAN stack applications while also concentrating on iOS development (using Swift) in a team to develop iOS-based applications. I am a driven and enthusiastic individual with a good aptitude for problem-solving. I have repaired numerous problems using Google as a reference and helped pupils to resolve their faults.</p>
            </div>
        </section>
        <section class="sec-2">
            <h2>Languages & Frameworks</h2>
            <div>
                <img src="/images/java.png" alt="" srcset="">
            </div>
        </section>
        <section class="sec-3">
            <h2>Databases</h2>
        </section>
        <section class="sec-4">
            <h2>Development</h2>
        </section>
    </section>
</body>