<head>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
    
<section class="main">
    <section class="left">
        <div class="first">
            <div>
                <h1>Get In Touch</h1>
            </div>
            <div>
                <img src="/images/Call.png" alt="Phone Logo">
                <p>+1(647)333-7412</p>
            </div>
            <div>
                <img src="/images/email.png" alt="Email Logo" id="emailLogo">
                <p>
                    <a href="mailto:rajrami342@gmail.com">rajrami342@gmail.com</a>
                </p>
            </div>
            <div>
                <img src="/images/location.png" alt="Location Logo">
                <p>
                    6 College Crescent, Barrie, ON L4M 2W1
                </p>
            </div>
        </div>
    </section>
    <form class="right">
        <input type="text" name="Firstname" id="firstName" placeholder="First Name">
        <input type="text" name="Lastname" id="lastName" placeholder="Last Name">
        <input type="email" name="email" id="email" placeholder="Email">
        <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
        <button type="submit">Send</button>
    </form>
</section>
</body>