<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/index-resp.css">
</head>
<section>
    <div class="img-div">
        <img src="/images/Raj.png" alt="Can't load image">
    </div>
    <div class="container">
        <h1>Welcome to my portfolio site</h1>
        <h1>I am Raj Rami.!</h1>
        <p>Final year Computer Programming student at Georgian College</p>
        <div class="a-tags">
            <a class="btn-sm" href="/about">About</a>
            <a class="btn-sm" href="/contact">Contact Me</a>
        </div>
    </div>
</section>
