<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>

<body>
  <header>
    <nav class="navbar h-nav-resp">
      <div class="logo visibility-resp">
        {{!-- <a href="/" id="a-img"><img src="/images/Raj.jpeg" alt="logo"></a> --}}
      </div>
      <ul class="nav-list visibility-resp">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://www.linkedin.com/in/raj-rami-9a0493227/overlay/1635506140123/single-media-viewer/" target="_blank">Resume</a></li>
      </ul>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
  </header>
  <div class="content">
  {{{body}}}
  </div>
  <footer>
    <p class="p-footer">Copyright &copy; 2022 <a href="https://www.rajrami.com/">https://www.rajrami.com/</a>  - All rights reserved.</p>
    <div>
      <a href="https://github.com/RajRami" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/raj-rami-9a0493227/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </footer>
  <script src="/javascripts/resp.js"></script>
</body>

</html>