<head>
    <link rel="stylesheet" href="/stylesheets/projects.css">
</head>


<section>
    <h1>Some Projects I've Built</h1>
    <section class="sec-main">
        <div class="content">
            <h2>The Open Movie Database(Using API) - JavaFX</h2>
            <h3>Designed a GUI that will allow users to access movie information from an OMDB API.</h3>
            <p class="p-sec-main">
                ▪ Created two major model classes to access movie details in two different views, the first view
                returns the list of the movies when the user triggers an API call and in the second view user
                can see a lot more details about one particular movie<br>
                ▪ Utilized HTTP classes to connect to an API and implement a method that will write the JSON
                data to a file which helps make the troubleshooting easier<br>
                ▪ Fixed bugs using a debugger which helped accelerate problem-solving skill<br>
            </p>
            <a href="https://github.com/RajRami/TheOpenMovieDatabase.git" target="_blank">
                <button class="btn-sec-main">Source Code</button></a>
        </div>
        <div class="sec-main-imgdiv">
            <a href="https://share.vidyard.com/watch/4qmkM2z6gJL9Mncd6DS1cH?" target="_blank">
                <img src="/images/theopenmoviedatabase.png" alt="Can't load Image">
            </a>
        </div>
    </section>
    <hr>
    <section class="sec-main sec-main-mid">
        <div class="content">
            <h2>JavaFX Application - Students Record</h2>
            <h3>Designed a GUI that will allow users to read data from a database and display it in a Table View.</h3>
            <p class="p-sec-main">
                ▪ Created a model class according to the student record that I had in the MySQL database<br>
                ▪ Provided some validations for student record<br>
                ▪ Connect the application to the local MySQL server and populate the table view<br>
            </p>
            <a href="https://github.com/RajRami/JavaFxApplication-StudentRecord.git" target="_blank">
                <button class="btn-sec-main">Source Code</button></a>
        </div>
        <div class="sec-main-imgdiv">
            <a href="https://share.vidyard.com/watch/8UY7AGRqo4wYZHRrwGvKiS?" target="_blank">
                <img src="/images/StudentData-JavaFx.png" alt="Can't load Image">
            </a>
        </div>
    </section>
    <hr>
    <section class="sec-main">
        <div class="content">
            <h2>Hotel-booking Management (ASP.NET)</h2>
            <h3>Developed a website for showing rooms of the hotel and for registration using ASP.NET
                MVC pattern.</h3>
            <p class="p-sec-main">
                ▪ Successfully applied problem-solving and time-management skills<br>
                ▪ Utilized model class to create tables in MS SQL Server by applying migrations<br>
                ▪ Performed CRUD operations and added third-party authentication and deployed it on Azure<br>
                ▪ Added Swagger API and perform unit testing for a few methods<br></p>
            <a href="https://github.com/RajRami/HotelBookingManagement-ASP.NET.git" target="_blank">
                <button class="btn-sec-main">Source Code</button></a>
        </div>
        <div class="sec-main-imgdiv">
            <img src="https://source.unsplash.com/300x300?hotel,asp.net" alt="Can't load Image">
        </div>
    </section>
    <hr>
    <section class="sec-main sec-main-mid">
        <div class="content">
            <h2>JavaFX Application - Laptop Data</h2>
            <h3>Built a GUI that will allow users to read information from a MySQL database and display it in a
                TableView and as chart data.</h3>
            <p class="p-sec-main">
                ▪ Created a model class according to the laptop data that I had in the MySQL database<br>
                ▪ Connect the application to AWS MySQL Server and populate both the views<br>
                ▪ Added functionality to switch the views and applied some CSS to make it visually nice<br>
            </p>
            <a href="https://github.com/RajRami/JavaFxApplication-LaptopData.git" target="_blank">
                <button class="btn-sec-main">Source Code</button></a>
        </div>
        <div class="sec-main-imgdiv">
            <img src="https://source.unsplash.com/300x300?laptop" alt="Can't load Image">
        </div>
    </section>
    <hr>
    <section class="sec-main">
        <div class="content">
            <h2>Learn To Code - Webpage</h2>
            <h3>Developed a fully responsive webpage including a contact form.</h3>
            <p class="p-sec-main">
                ▪ Modified HTML, CSS, and JavaScript to create a responsive attractive webpage<br>
                ▪ With the POST request, stored data of contact form into MongoDB using node server<br>
                ▪ Enhanced problem-solving skill<br></p>
            <a href="https://github.com/RajRami/LearnToCode-Website.git" target="_blank">
                <button class="btn-sec-main">Source Code</button></a>
        </div>
        <div class="sec-main-imgdiv">
            <img src="https://source.unsplash.com/300x300?html,css,webpage,code,mongoDB,nodejs" alt="Can't load Image">
        </div>
    </section>
    <hr>
    <section class="sec-main sec-main-mid">
        <div class="content">
            <h2>Reading From an API – NYTimes API </h2>
            <h3>▪ Built a webpage that displays articles according to the search term provided, by
                calling an API in JavaScript.</h3>
            <a href="https://github.com/RajRami/ReadingFromAnAPI-NyTimesAPI.git" target="_blank">
                <button class="btn-sec-main">Source Code</button></a>
        </div>
        <div class="sec-main-imgdiv">
            <a href="https://share.vidyard.com/watch/7Y8XA8J1UwzSZge66UVxMg?" target="_blank">
                <img src="/images/nytimesapi-js.png" alt="Can't load Image">
            </a>
        </div>
    </section>
</section>