body {
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('../images/contact-bg.jpg');
    background-size: cover;
    opacity: 0.4;
}
.content {
    position: relative;
    z-index: 1;
}
p{
    font-size: x-large;
}
.first img{
    height: 2rem;
    width: 2rem;
    margin-top: 1.5rem; 
}
#emailLogo{
    border-radius: 1rem;
    /* filter: invert(1); */
}
.main{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    margin: 15px 70px;
    padding: 15px;
    font-size:22px;
}
h1{
    font-size: xx-large;
    border-bottom: 1px solid #000;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #3e634b;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 25px;
    /* margin: 20px; */
    /* align-items: center; */
    /* justify-content: flex-end; */
}
.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
}
input, textarea, button{
    width: 70%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: large;
}
button{
    width: 72.5%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    background-color: black;
    color: #a1bda4;
}
button:hover{
    background-color: transparent;
    color: black;
    transition: ease-in-out 0.4s;
}
