body {
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('../images/project-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}
.content {
    position: relative;
    z-index: 1;
}
section{
    margin: 15px;
    padding: 15px;
}
h1{
    font-size: xx-large;
    text-align: center;
    border-bottom: 2px solid black;
    border-style: ridge;
}
h2, h3{
    margin: 5px 0px;
    font-size: x-large;
}
hr{
    background: #000;
}
.p-sec-main{
    font-size: x-large;
}
.btn-sec-main{
    cursor: pointer;
    padding: 6px;
    font-size: large;
    border-radius: 6px;
    margin: 5px 0px;
    background-color: black;
    color: #a1bda4;
}
.btn-sec-main:hover{
    background: linear-gradient(to right,
            rgb(255, 255, 255) 50%,
            #a1bda4 50%,
            #a1bda4 100%);
    color: black;
    transition: ease-in-out 0.4s;
}
.sec-main{
    display: flex;
    /* padding: 10px; */
    margin: 0px 40px;
}
.sec-main-mid{
    flex-direction: row-reverse;
}
.sec-main div{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec-main-imgdiv{
    width: 30vw;
}
.content-info{
    width: 70vw;
}
.sec-main img{
    height: 45vh;
    width: 30vw;
}
.sec-main img:hover{
    cursor: pointer;
    height: 48vh;
    width: 32vw;
    transition: ease-in-out 0.4s;
    box-shadow: 3px 3px 3px 3px rgb(72, 72, 72);
}    

/* @media only screen and (max-width:1000px) {
    .sec-main img{
        height: 30vh;
        width: 22vw;
    }
} */